<div id="<%= dom_id group %>", class='category-card'>
  <%= content_tag :i, "", class: "fa #{group.icon} fa-10x" %>
  <p><%= group.name %></p>
  <p class="total"><strong><%= number_to_currency(group.total_amount) %></strong></p>
</div>
