<div id="<%= dom_id group %>", class='category-card'>
  <% if group.icon.attached? %>
    <%= image_tag(group.icon, class: 'icon')%>
  <% else %>
    <%= image_tag("/assets/default_icon.png", class: 'icon')%>
  <% end %>
  <p><%= group.name %></p>
  <p class="total">Total</p>
</div>
