nav.register {
  margin: 0;
  background-color: #3778c2;
  color: #fff;
  display: flex;
  align-items: center;
  height: 2.5rem;
}

nav.register h2 {
  font-weight: 100;
  font-size: 1.2rem;
  /* border: 1px solid red; */
  width: 100%;
  text-align: center;
}

.submit {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  height: 2.5rem;
  margin: 0;
  padding: 0 0.75rem;
  background: none;
  color: #fff;
  /* border: 1px solid red; */
  font-weight: 100;
}

.fa-arrow-left {
  /* border: 2px solid red; */
  /* font-weight: 100; */
  /* font-size: 2rem; */
  position: absolute;
  top: 0;
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
}

